body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: black; 
    color: white;
}

.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.image-container img {
    max-width: 100%;
    border-radius: 50%;
}

.content-container {
    max-width: 600px;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    margin-bottom: 1em;
}
