/* contact.css */

.contactPage {
  padding: 20px;
  text-align: center;
}

.contactPageTitle {
  font-size: 2em;
  margin-bottom: 10px;
}

.contactDesc {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

.contactForm {
  max-width: 600px;
  margin: 0 auto;
  background-color: #000; /* Black background color */
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  border: 2px solid #3498db; /* Blue border */
}

.name,
.email,
.msg {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
   color: #fff; 
  background-color: #000; /* Black background color for textboxes and textarea */
  border: 2px solid #3498db; /* Blue border for textboxes and textarea */
  border-radius: 5px; /* Rounded corners for input boxes and textarea */
}

.msg {
  resize: vertical; /* Allow vertical resizing of the textarea */
}

.submitBtn {
  color: #3498db;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border: 2px solid #3498db; 
  border-radius: 5px; /* Rounded corners for the button */
}

.links {
  margin-top: 20px;
}

.link {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
