.navbar {
    background-color: black;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 191, 255, 0.4), 0 0 15px 5px rgba(0, 191, 255, 0.2);
    margin: auto; 
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: auto;
}

.desktopMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    flex: 1; 
}

.desktopMenuList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.desktopMenuListItem {
    margin: 0 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: #00bfff;
    border-bottom: 1px solid #00bfff;
}

.Link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.Link:hover {
    color: #00bfff;
}

.contactLink {
    padding: 8px 15px;
    /* background: white; */
    color: white;
    /* border-radius: 2rem; */
    text-decoration: none;
    font-weight: 500;
}

.contactLink:hover {
    /* background-color: #f0f0f0; */
}

/* Media Query for Mobile */
@media screen and (max-width: 768px) {
    .navbar {
        padding: 0.5rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .desktopMenu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; 
        left: 0;
        background-color: black;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 4px 8px rgba(0, 191, 255, 0.4), 0 0 15px 5px rgba(0, 191, 255, 0.2);
    }

    .desktopMenu.active {
        display: flex;
    }

    .desktopMenuList {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1rem;
    }

    .desktopMenuListItem {
        margin: 0.5rem 0;
    }
}

.mobileMenuToggle {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

@media screen and (max-width: 768px) {
    .mobileMenuToggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .bar {
        width: 30px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }
}
